:host{
  display: flex;
  height: 100vh;
}

.aside{
  max-width: 280px;
  flex-basis: 280px;
}

.container{
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  background: #f9fafb;
}

.header{
  height: 66px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.0625);
}

.main{
  margin: 20px;
}

